footer.footer
	.container.footer__container
		img(src="img/frame.svg", alt="").frame.footer__frame
		.footer__inner
			.footer__rec
				img(src="img/rec-light.svg", alt="")
				img(src="img/rec-text.svg", alt="")
			button.footer__button
				img(src="img/graph.svg", alt="")
			.footer__lives
				img(src="img/heart-fill.svg", alt="")
				img(src="img/heart-fill.svg", alt="")
				img(src="img/heart.svg", alt="")
			.footer__text 
				img(src="img/text2.svg", alt="")
			.footer__text--mobile
				img(src="img/text-mobile.svg", alt="")
			.footer__social
				a(href="#")
					img(src="img/vk.svg", alt="") 
				a(href="#")
					img(src="img/facebook.svg", alt="") 
				a(href="#")
					img(src="img/ok.svg", alt="") 
				a(href="#")
					img(src="img/twitter.svg", alt="") 
		img(src="img/frame.svg", alt="").frame.footer__frame.footer__frame--right
	