section.game.game-car
	.game__slide.game__slide1.active
		.game__slide-img 
			img(src="images/game-car/game-car-bg-1.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Вам приходится парковать свой совсем не дешевый автомобиль во дворе. Какие меры безопасности предпочтете?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="car-question1" name="slide1" value="no").game__form-input
					label(for="car-question1").game__form-label Поставлю сигнализацию погромче
					.game__form-question-error
						span Ошибка! 
						span Сотрудники ГИБДД не устают повторять, что сигнализация не может считаться полноценным противоугонным средством. Пока вы будете спускаться во двор, машины уже и след пропадет.
				.game__form-question 
					input(type="radio" id="car-question2" name="slide1" value="no").game__form-input
					label(for="car-question2").game__form-label Поставлю блокиратор на рулевое колесо, как делал мой папа
				.game__form-question 
					input(type="radio" id="car-question3" name="slide1" value="no").game__form-input
					label(for="car-question3").game__form-label Установлю на машину современную охранную систему
	.game__slide.game__slide2
		.game__slide-img
			img(src="images/game-car/game-car-bg-2.jpg", alt="")
		.game__slide-content 
			p.game__slide-title На время ремонта или приезда родственников ваш ребенок остался без своей комнаты. Теперь он просит ключи от машины, чтобы проводить время с друзьями подальше от домашней суеты. Но вас одолевают сомнения. Что если кто-то из сверстников принесет запрещенные вещества? Что если дети решат покататься и попадут в аварию?  
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="car-question4" name="slide2" value="no").game__form-input
					label(for="car-question4").game__form-label Никаких тусовок в машине! Пусть сначала заработает на свою и сидит в ней хоть днями напролет
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="car-question5" name="slide2" value="no").game__form-input
					label(for="car-question5").game__form-label Прежде чем отдавать ключи, выясню, с кем он собирается проводить время, и поговорю с родителями этих ребят. Если они производят приятное впечатление — почему бы и нет
				.game__form-question 
					input(type="radio" id="car-question6" name="slide2" value="no").game__form-input
					label(for="car-question6").game__form-label Всё очень просто: ключ зажигания оставлю при себе. А еще установлю систему мониторинга — и пусть хоть дискотеку в салоне устраивают. Но с рядом условий: не курить, обшивку не портить, не мусорить
	.game__slide.game__slide3
		.game__slide-img 
			img(src="images/game-car/game-car-bg-3.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Некая дама по какой-то причине решила, что у них с вашим мужем настоящая любовь. Появляющиеся с завидной регулярностью послания («Убирайся, стерва!» и «Разлучница!») на капоте вашего автомобиля говорят сами за себя. Похоже, вам в этой фантасмагори отводится роль мегеры, не желающей отпустить супруга в новую — непременно счастливую — жизнь. А машину жалко. Как поступите?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="car-question7" name="slide3" value="no").game__form-input
					label(for="car-question7").game__form-label Закачу скандал мужу — наверняка у него рыльце в пушку
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="car-question8" name="slide3" value="no").game__form-input
					label(for="car-question8").game__form-label Отыщу эту женщину и потребую возмещения ущерба. Грунтовка и покраска кузова обойдется в целое состояние!
				.game__form-question 
					input(type="radio" id="car-question9" name="slide3" value="no").game__form-input
					label(for="car-question9").game__form-label Посоветуюсь со специалистами, какую антивандальную систему безопасности выбрать для своей ласточки
	.game__slide.game__slide4
		.game__slide-img 
			img(src="images/game-car/game-car-bg-4.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Слышали о мужчине, который обнаружил взрывчатку в своем авто только благодаря своевременному прохождению ТО? Как быть, если кто-то задумает прикрепить к днищу вашего автомобиля самодельную бомбу или выведет из строя важную систему машины, да так, что вы об этом узнаете только в пути, когда уже будет слишком поздно?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="car-question10" name="slide4" value="no").game__form-input
					label(for="car-question10").game__form-label Пожалуй, тоже пройду ТО, внеочередное
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="car-question11" name="slide4" value="no").game__form-input
					label(for="car-question11").game__form-label Каждый день буду проверять днище автомобиля и тросы
				.game__form-question 
					input(type="radio" id="car-question12" name="slide4" value="no").game__form-input
					label(for="car-question12").game__form-label Кажется, меня спасет только система мониторинга. Пусть за неприкосновенностью машины следят специально обученные люди
	.game__slide.game__slide5
		.game__slide-img 
			img(src="images/game-car/game-car-bg-5.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Вы оставили ребенка в машине буквально на десять минут, забежав за водой в гипермаркет. Вернувшись, не находите ни ребенка, ни авто. Правоохранители называют преступления такого типа «угоном с отягчающими», но это знание не принесет вам облегчения. Как избежать несчастья?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="car-question13" name="slide5" value="no").game__form-input
					label(for="car-question13").game__form-label Размещу по всему автомобилю наклейки «ребенок внутри». Преступники постыдятся рисковать жизнью малыша
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="car-question14" name="slide5" value="no").game__form-input
					label(for="car-question14").game__form-label Поостерегусь ездить про криминальным районам города
				.game__form-question 
					input(type="radio" id="car-question15" name="slide5" value="no").game__form-input
					label(for="car-question15").game__form-label Еще до рождения ребенка озабочусь установкой охранной системы на автомобиль
	.container.game__container
		.game__inner
			.game__top 
				.game__icon
					.game__icon-wrapper
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						<svg class="game__icon--house">
							<use xlink:href="img/sprite.svg#house"></use>
						</svg>
					span автомобиль
				.game__slides-counter 
					span.game__slide-current 1
					span /
					span.game__slide-count 5
			.game__bottom 
				.game__icons 
					img(src="img/game-icons.svg", alt="")
				.game__lives
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart.svg", alt="")
				.game__timer
					.game__timer-days 00
					span :
					.game__timer-hours 00
					span :
					.game__timer-minutes 03
					span :
					.game__timer-seconds 54