section.game.game-house
	.game__slide.game__slide1.active-slide
		.game__slide-img 
			img(src="images/game-house/game-house-bg-1.gif", alt="")
		.game__slide-content 
			p.game__slide-title Кто-то рисует в подъезде и на двери вашей квартиры граффити, а по вечерам на лестничных клетках собирается подозрительного вида молодежь. Ничего критичного, но вечером из дома выходить не хочется, да и дверь отмывать надоело. Что будете делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question1" name="slide1" value="fail").game__form-input
					label(for="house-question1").game__form-label Свяжусь с участковым — пусть это будет его головной болью. Уверена, других мер не понадобится
					.game__form-question-error
						span Ошибка! 
						span Связаться с ним, конечно, надо, но не ждите быстрого решения проблемы. Все-таки участковый не сможет сутками сидеть в засаде у вашего подъезда, как средневековый рыцарь у замка прекрасной дамы.
				.game__form-question 
					input(type="radio" id="house-question2" name="slide1" value="fail").game__form-input
					label(for="house-question2").game__form-label Попрошу мужа поговорить с хулиганами по душам
					.game__form-question-error
						span Ошибка! 
						span Вы не знаете точно, кто изводит вашу семью. Хулиганы иногда по-настоящему опасны. Что, если они носят с собой ножи и ранят вашего супруга?
				.game__form-question 
					input(type="radio" id="house-question3" name="slide1" value="correct").game__form-input
					label(for="house-question3").game__form-label Установлю камеру слежения и уже с материалами съемки пойду в полицию
					.game__form-question-error
						span Верно!
						span Самое простое и технологичное решение — установить компактную камеру и заснять непрошенных гостей за порчей квартирных дверей. Современные видеосистемы безопасности отправляют вам извещение при движении или шуме, видят в темноте и сохраняют отснятое видео в облачном хранилище или на карте памяти. Такие возможности есть у <a href="https://www.delta.ru/video/">систем видеонаблюдения Delta</a>. Подберите тариф с удобными для вас условиями и распрощайтесь с тревожными ночами раз и навсегда.
	.game__slide.game__slide2
		.game__slide-img
			img(src="images/game-house/game-house-bg-2.gif", alt="")
		.game__slide-content 
			p.game__slide-title Вы слышите в новостях, что по всей стране учащаются случаи вызрывов газа и пожары в жилых домах с сотнями и сотнями жертв. Как предотвратить несчастье в вашем доме?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question4" name="slide2" value="fail").game__form-input
					label(for="house-question4").game__form-label Достаточно заменить электропроводку. От газовой плиты придется отказаться
					.game__form-question-error
						span Ошибка! 
						span К сожалению, профессиональных электриков, способных проложить проводку по всем правилам, найти непросто. А готовка на электроплите в доме с газовым снабжением влетит в копеечку. 
				.game__form-question 
					input(type="radio" id="house-question5" name="slide2" value="fail").game__form-input
					label(for="house-question5").game__form-label Лучше переехать из квартиры в частный дом — там безопаснее
					.game__form-question-error
						span Ошибка! 
						span В собственном доме ваша семья не пострадает от утечки газа у соседей, но пожары в частном секторе, в окружении деревянных построек, еще опаснее, чем в многоэтажке.
				.game__form-question 
					input(type="radio" id="house-question6" name="slide2" value="correct").game__form-input
					label(for="house-question6").game__form-label Установлю датчики на случай утечки газа и задымления
					.game__form-question-error
						span Верно!
						span Оснащенные <a href="https://www.delta.ru/datchiki/">специальными датчиками</a> охранные системы могут всё: они регистрируют горючие пары в воздухе, угрозу протечки, угрозу пожара — и немедленно сообщают вам извещением на смартфон, что пора просыпаться и выходить из дома. Выключаете смартфон на ночь? Ничего страшного — на малейший дымок, даже намек на запах газа среагирует сирена оповещения. Опасность заставляет ее громко ругаться до тех пор, пока вы не проснетесь и не выключите ее. И даже больше: охранные системы Delta автоматически отправляют сигнал на пульт охраны, перекрывают газ при срабатывании тревоги, а уже через 5-7 минут ждите группу быстрого реагирования, которая возьмет заботу о вашей безопасности на себя. Это интересно: обслуживание спасающих жизни датчиков в месяц обойдется в сумму ниже стоимости стаканчика кофе на вынос.

	.game__slide.game__slide3
		.game__slide-img 
			img(src="images/game-house/game-house-bg-3.gif", alt="")
		.game__slide-content 
			p.game__slide-title В районе участились кражи со взломом в дневное время суток. Вы в отпуске по уходу за ребенком, без защиты и в одиночестве. Ваша знакомая, попытавшаяся отбиться от грабителей в собственной квартире, теперь в больнице с переломами и сотрясением. Что предпримете для защиты себя и малыша?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question7" name="slide3" value="fail").game__form-input
					label(for="house-question7").game__form-label Поставлю решетки на окна — и пусть воры попробуют протиснуться
					.game__form-question-error
						span Ошибка! 
						span Опытным грабителям решетки и крепкие двери не помеха. К тому же забранные решетками окна для них как крестик на карте сокровищ: в этой квартире определенно есть чем поживиться.
				.game__form-question 
					input(type="radio" id="house-question8" name="slide3" value="fail").game__form-input
					label(for="house-question8").game__form-label Получу разрешение на ношение травматического пистолета. Пусть приходят, я готова!
					.game__form-question-error
						span Ошибка! 
						span Известны случаи, когда суд в аналогичных ситуациях трактовал результаты самозащиты как превышение пределов необходимой самообороны. Лучше не бросаться на преступников с оружием. К тому же вы не можете быть уверены, что не пострадаете сами и не подвергнете опасности жизнь ребенка.
				.game__form-question 
					input(type="radio" id="house-question9" name="slide3" value="correct").game__form-input
					label(for="house-question9").game__form-label Установлю камеру наблюдения над дверью и тревожную кнопку в квартире
					.game__form-question-error
						span Верно! 
						span Оптимальный вариант: по вызову приедут крепкие ребята, которые схватят грабителей с поличным и передадут полиции. Вызов вооруженной охраны включен в различные опции <a href="https://www.delta.ru/ohrana-kvartir/">охранных систем Delta</a>. К примеру, вы можете ограничиться толко домашней камерой и тревожной кнопкой (стационарной или мобильной). А можете полностью защитить вход в квартиру современным оборудованием в подходящей комплектации. Именно таких домашних помощников не хватало герою культовой франшизы «Один дома».
	.game__slide.game__slide4
		.game__slide-img 
			img(src="images/game-house/game-house-bg-4.gif", alt="")
		.game__slide-content 
			p.game__slide-title Возникла необходимость досрочно выйти из декрета на работу. Но на душе как-то неспокойно: придется нанимать для ребенка няню. Как вы позаботитесь о безопасности малыша и собственном спокойствии?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question10" name="slide4" value="fail").game__form-input
					label(for="house-question10").game__form-label Поищу няню через авторитетную фирму, потребую рекомендации, сертификаты, справку из ПНД
					.game__form-question-error
						span Ошибка! 
						span К несчастью, рекомендации от благодарных нанимателей и справки из ПНД не гарантируют адекватность няни. Даже если вы хорошо поладите, чужая душа — потемки.
				.game__form-question 
					input(type="radio" id="house-question11" name="slide4" value="fail").game__form-input
					label(for="house-question11").game__form-label Вы не можете быть уверены, что у знакомой крепкая психика и приемлемый для вас метод воспитания детей. А что если эта женщина страдает от недиагностированной постродовой депрессии?
					.game__form-question-error
						span Ошибка! 
						span Вы не можете быть уверены, что у знакомой крепкая психика и приемлемый для вас метод воспитания детей. А что если эта женщина страдает от недиагностированной постродовой депрессии?
				.game__form-question 
					input(type="radio" id="house-question12" name="slide4" value="correct").game__form-input
					label(for="house-question12").game__form-label Установлю дома систему видеосъемки и тревожную кнопку
					.game__form-question-error
						span Верно! 
						span Не слишком затратное мероприятие и весьма эффективное. Где бы вы ни находились, мобильная тревожная кнопка всегда в вашем смартфоне. Стоит нажать — и группа вооруженной охраны приедет всего за 3-7 минут к вам домой. А камера Cute от <a href="https://www.delta.ru/video/">охранных систем Delta</a> позволит вам наблюдать в прямом эфире за няней и малышом, любоваться распустившейся на подоконнике бегонией, смотреть, чем занимается кот Барсик. С домашней камерой вы ни за что не пропустите первые шаги своего ребенка и в любой момент успокоите его своим голосом. Да, вы можете слышать малыша, а он — вас, будто вы всегда рядом.
	.game__slide.game__slide5
		.game__slide-img 
			img(src="images/game-house/game-house-bg-5.gif", alt="")
		.game__slide-content 
			p.game__slide-title Вы слышали о насильниках, которые следят за жертвой в подъезде и нападают на нее в лифте или у дверей квартиры? Часто жертвами становятся идущие из школы дети. Допустим, в момент возвращения ребенка вы еще на работе. Как не допустить самого худшего?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question13" name="slide5" value="fail").game__form-input
					label(for="house-question13").game__form-label Попрошу родителей одноклассника, живущего в нашем доме, провожать моего ребенка до двери квартиры
					.game__form-question-error
						span Ошибка! 
						span Чужие люди — это всегда риск, какими бы милыми они ни казались. К тому же при всем желании соседи не могут взять ответственность за вашего школьника на себя.
				.game__form-question 
					input(type="radio" id="house-question14" name="slide5" value="fail").game__form-input
					label(for="house-question14").game__form-label Научу ребенка при виде подозрительных незнакомцев громко кричать: «Пожар, пожар!»
					.game__form-question-error
						span Ошибка! 
						span Идея разумная, однако скорее всего она не сработает. Будем реалистами, подозрительных незнакомцев вокруг — каждый второй. Добавим к этому обособленность жителей мегаполиса и получим не помощь, а принципиальное игнорирование любых шумов во дворе или в подъезде
				.game__form-question 
					input(type="radio" id="house-question15" name="slide5" value="correct").game__form-input
					label(for="house-question15").game__form-label Установлю камеры над входом в квартиру и у входа в подъезд, научу ребенка пользоваться тревожной кнопкой
					.game__form-question-error
						span Верно!
						span Часто бывает так, что преступник выслеживает свою будущую жертву день за днем, проверяя маршрут и бдительность соседей. Камера поможет зафиксировать периодически мелькающего поблизости незнакомого человека. <a href="https://www.delta.ru/virtualnaya-trevozhnaya-knopka/">Мобильная тревожная кнопка</a>  на смартфоне ребенка при нажатии отправляет сигнал на пульт охраны, после чего на место выезжает группа быстрого реагирования. Именно так работают охранные системы Delta, призванные беречь вас и вашу семью.
	.game__result
		.game__result-title Памятка для защиты недвижимого имущества от Delta и Woman.ru
		.game__result-content 
			ol.game__result-list
				li Установите датчики протечки воды, а также газовой и противопожарной безопасности.
				li Скооперируйтесь с соседями или управляющей компанией для оснащения общедомовых территорий камерами наблюдения.
				li Оборудуйте свое жилье системой безопасности против взломщиков и ЧС.
				li Своевременно меняйте неисправную бытовую технику и искрящуюся проводку.
				li Установите внутриквартирные камеры для безопасности детей и ценного имущества.
		.game__result-title.game__result-title--second Пусть ваш дом станет вашей крепостью!
		button.game__result-btn(type="button" id="reinitTest") пройти тест еще раз"

	.container.game__container
		.game__inner
			.game__top 
				.game__icon
					.game__icon-wrapper
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						<svg class="game__icon--house">
							<use xlink:href="img/sprite.svg#house"></use>
						</svg>
					span дом и домочадцы
				.game__slides-counter 
					span.game__slide-current 1
					span /
					span.game__slide-count 5
			.game__bottom 
				.game__icons 
					img(src="img/game-icons.svg", alt="")
				.game__lives
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
				.game__timer#timer 00:00:00:00