section.game.game-house
	.game__slide.game__slide1.active
		.game__slide-img 
			img(src="images/game-house/game-house-bg-1.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Кто-то рисует в подъезде и на двери вашей квартиры граффити, а по вечерам на лестничных клетках собирается подозрительного вида молодежь. Ничего критичного, но вечером из дома выходить не хочется, да и дверь отмывать надоело. Что будете делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question1" name="slide1" value="no").game__form-input
					label(for="house-question1").game__form-label Свяжусь с участковым — пусть это будет его головной болью. Уверена, других мер не понадобится
					.game__form-question-error
						span Ошибка! 
						span Связаться с ним, конечно, надо, но не ждите быстрого решения проблемы. Все-таки участковый не сможет сутками сидеть в засаде у вашего подъезда, как средневековый рыцарь у замка прекрасной дамы.
				.game__form-question 
					input(type="radio" id="house-question2" name="slide1" value="no").game__form-input
					label(for="house-question2").game__form-label Попрошу мужа поговорить с хулиганами по душам
				.game__form-question 
					input(type="radio" id="house-question3" name="slide1" value="no").game__form-input
					label(for="house-question3").game__form-label Установлю камеру слежения и уже с материалами съемки пойду в полицию
	.game__slide.game__slide2
		.game__slide-img
			img(src="images/game-house/game-house-bg-2.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Вы слышите в новостях, что по всей стране учащаются случаи вызрывов газа и пожары в жилых домах с сотнями и сотнями жертв. Как предотвратить несчастье в вашем доме?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question4" name="slide2" value="no").game__form-input
					label(for="house-question4").game__form-label Достаточно заменить электропроводку. От газовой плиты придется отказаться
					.game__form-question-error
						span Ошибка! 
						span К сожалению, профессиональных электриков, способных проложить проводку по всем правилам, найти непросто. А готовка на электроплите в доме с газовым снабжением влетит в копеечку. 
				.game__form-question 
					input(type="radio" id="house-question5" name="slide2" value="no").game__form-input
					label(for="house-question5").game__form-label Лучше переехать из квартиры в частный дом — там безопаснее
				.game__form-question 
					input(type="radio" id="house-question6" name="slide2" value="no").game__form-input
					label(for="house-question6").game__form-label Установлю датчики на случай утечки газа и задымления
	.game__slide.game__slide3
		.game__slide-img 
			img(src="images/game-house/game-house-bg-3.jpg", alt="")
		.game__slide-content 
			p.game__slide-title В районе участились кражи со взломом в дневное время суток. Вы в отпуске по уходу за ребенком, без защиты и в одиночестве. Ваша знакомая, попытавшаяся отбиться от грабителей в собственной квартире, теперь в больнице с переломами и сотрясением. Что предпримете для защиты себя и малыша?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question7" name="slide3" value="no").game__form-input
					label(for="house-question7").game__form-label Поставлю решетки на окна — и пусть воры попробуют протиснуться
					.game__form-question-error
						span Ошибка! 
						span Опытным грабителям решетки и крепкие двери не помеха. К тому же забранные решетками окна для них как крестик на карте сокровищ: в этой квартире определенно есть чем поживиться.
				.game__form-question 
					input(type="radio" id="house-question8" name="slide3" value="no").game__form-input
					label(for="house-question8").game__form-label Получу разрешение на ношение травматического пистолета. Пусть приходят, я готова!
				.game__form-question 
					input(type="radio" id="house-question9" name="slide3" value="no").game__form-input
					label(for="house-question9").game__form-label Установлю камеру наблюдения над дверью и тревожную кнопку в квартире
	.game__slide.game__slide4
		.game__slide-img 
			img(src="images/game-house/game-house-bg-4.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Возникла необходимость досрочно выйти из декрета на работу. Но на душе как-то неспокойно: придется нанимать для ребенка няню. Как вы позаботитесь о безопасности малыша и собственном спокойствии?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question10" name="slide4" value="no").game__form-input
					label(for="house-question10").game__form-label Поищу няню через авторитетную фирму, потребую рекомендации, сертификаты, справку из ПНД
					.game__form-question-error
						span Ошибка! 
						span К несчастью, рекомендации от благодарных нанимателей и справки из ПНД не гарантируют адекватность няни. Даже если вы хорошо поладите, чужая душа — потемки.
				.game__form-question 
					input(type="radio" id="house-question11" name="slide4" value="no").game__form-input
					label(for="house-question11").game__form-label Вы не можете быть уверены, что у знакомой крепкая психика и приемлемый для вас метод воспитания детей. А что если эта женщина страдает от недиагностированной постродовой депрессии?
				.game__form-question 
					input(type="radio" id="house-question12" name="slide4" value="no").game__form-input
					label(for="house-question12").game__form-label Установлю дома систему видеосъемки и тревожную кнопку
	.game__slide.game__slide5
		.game__slide-img 
			img(src="images/game-house/game-house-bg-5.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Вы слышали о насильниках, которые следят за жертвой в подъезде и нападают на нее в лифте или у дверей квартиры? Часто жертвами становятся идущие из школы дети. Допустим, в момент возвращения ребенка вы еще на работе. Как не допустить самого худшего?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="house-question13" name="slide5" value="no").game__form-input
					label(for="house-question13").game__form-label Попрошу родителей одноклассника, живущего в нашем доме, провожать моего ребенка до двери квартиры
					.game__form-question-error
						span Ошибка! 
						span Чужие люди — это всегда риск, какими бы милыми они ни казались. К тому же при всем желании соседи не могут взять ответственность за вашего школьника на себя.
				.game__form-question 
					input(type="radio" id="house-question14" name="slide5" value="no").game__form-input
					label(for="house-question14").game__form-label Научу ребенка при виде подозрительных незнакомцев громко кричать: «Пожар, пожар!»
				.game__form-question 
					input(type="radio" id="house-question15" name="slide5" value="no").game__form-input
					label(for="house-question15").game__form-label Установлю камеры над входом в квартиру и у входа в подъезд, научу ребенка пользоваться тревожной кнопкой
	.game__result
		.game__result-title Памятка для автоледи от Delta и Woman.ru
		.game__result-content 
			ol.game__result-list
				li Никогда не оставляйте машину открытой, блокируйте замки в любых ситуациях.
				li Не храните ценные вещи и документы в бардачке или на сиденьях автомобиля.
				li Старайтесь оставлять автомобиль на ночь только в охраняемых паркингах.
				li Оборудуйте авто комплексной противоугонгой защитой (сигнализация, иммобилайзеры, охранный комплекс, обслуживаемый специалистами в сфере безопасности).
				li Не подвозите незнакомцев.
		.game__result-title.game__result-title--second Счастливого пути!
	.container.game__container
		.game__inner
			.game__top 
				.game__icon
					.game__icon-wrapper
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						<svg class="game__icon--house">
							<use xlink:href="img/sprite.svg#house"></use>
						</svg>
					span дом и домочадцы
				.game__slides-counter 
					span.game__slide-current 1
					span /
					span.game__slide-count 5
			.game__bottom 
				.game__icons 
					img(src="img/game-icons.svg", alt="")
				.game__lives
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart.svg", alt="")
				.game__timer
					.game__timer-days 00
					span :
					.game__timer-hours 00
					span :
					.game__timer-minutes 03
					span :
					.game__timer-seconds 54