section.game.game-values
	.game__slide.game__slide1.active
		.game__slide-img 
			img(src="images/game-values/game-values-bg-1.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Этим летом ваша дача выглядит как дом со страниц журнала интерьеров. Но уже осенью вы рискуете остаться без полюбившихся элементов декора, мебели и техники. Как защитить вещи от дачных воришек?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question1" name="slide1" value="no").game__form-input
					label(for="values-question1").game__form-label Зимовать мои вещи будут в городской квартире — и точка
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="values-question2" name="slide1" value="no").game__form-input
					label(for="values-question2").game__form-label Доплачу охране коттеджного поселка. Пусть следят за домом внимательнее
				.game__form-question 
					input(type="radio" id="values-question3" name="slide1" value="no").game__form-input
					label(for="values-question3").game__form-label Устрою круглосуточный прямой эфир из дачного дома и поставлю обычную сигнализацию
	.game__slide.game__slide2
		.game__slide-img
			img(src="images/game-values/game-values-bg-2.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Одноклассники ребенка часто бывают в вашем доме, когда вы отсутствуете. В прошлый раз вы уже не досчитались пары недорогих, но горячо любимых украшений. Что делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question4" name="slide2" value="no").game__form-input
					label(for="values-question4").game__form-label Запрещу приводить кого бы то ни было
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="values-question5" name="slide2" value="no").game__form-input
					label(for="values-question5").game__form-label Поговорю с ребенком, объясню, что его друзья не такие уж замечательные
				.game__form-question 
					input(type="radio" id="values-question6" name="slide2" value="no").game__form-input
					label(for="values-question6").game__form-label Установлю дома незаметную видеокамеру для ненавязчивого наблюдения за всей честной компанией. Звук отключу: знать, о чем они говорят, мне не нужно
	.game__slide.game__slide3
		.game__slide-img 
			img(src="images/game-values/game-values-bg-3.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Соседка взяла в привычку ходить к вам в гости. Скоро вы начинаете замечать, что она слишком поглощена вашим гардеробом, сияет глазами при виде вашей коллекции дизайнерских сумочек и ведет себя крайне странно. Как не обидеть соседку и при этом уберечь ценные вещи от потенциальной воровки?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question7" name="slide3" value="no").game__form-input
					label(for="values-question7").game__form-label Нужно прекратить общение с этой коварной женщиной!
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="values-question8" name="slide3" value="no").game__form-input
					label(for="values-question8").game__form-label Начну жаловаться на нехватку денег, обычно срабатывает
				.game__form-question 
					input(type="radio" id="values-question9" name="slide3" value="no").game__form-input
					label(for="values-question9").game__form-label Позабочусь о базовой охранной системе квартиры и продолжу добрые отношение с соседкой. Возможно, она замечательный, но несколько эмоциональный человек
	.game__slide.game__slide4
		.game__slide-img 
			img(src="images/game-values/game-values-bg-4.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Вам досталась в наследство невероятно дорогая семейная реликвия. Как о ней позаботиться?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question10" name="slide4" value="no").game__form-input
					label(for="values-question10").game__form-label Спрячу в сейф, сейф встрою в стену, на стену повешу картину. Готово!
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="values-question11" name="slide4" value="no").game__form-input
					label(for="values-question11").game__form-label Просто не скажу никому ни слова о наследстве
				.game__form-question 
					input(type="radio" id="values-question12" name="slide4" value="no").game__form-input
					label(for="values-question12").game__form-label Доверю хранение банку или охранной компании
	.game__slide.game__slide5
		.game__slide-img 
			img(src="images/game-values/game-values-bg-5.jpg", alt="")
		.game__slide-content 
			p.game__slide-title Мамочки с детской площадки, как известно, — самые ценные и надежные источники информации. Именно от них вы узнали об орудующей поблизости банде взломщиков и теперь не находите себе места от беспокойства. Обычно преступники забираются в квартиры, когда дома ни души, и выносят технику и драгоценности. Что делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question13" name="slide5" value="no").game__form-input
					label(for="values-question13").game__form-label Мои соседи всегда дома. Попрошу их при появлении посторонних людей на лестничной клетке звонить в полицию
					.game__form-question-error
						span Ошибка! 
						span ???
				.game__form-question 
					input(type="radio" id="values-question14" name="slide5" value="no").game__form-input
					label(for="values-question14").game__form-label Поставлю надежную дверь с десятком замков
				.game__form-question 
					input(type="radio" id="values-question15" name="slide5" value="no").game__form-input
					label(for="values-question15").game__form-label Позвоню в охранную компанию, там подскажут идеальный выход из ситуации
	.game__result
		.game__result-title Памятка для автоледи от Delta и Woman.ru
		.game__result-content 
			ol.game__result-list
				li Никогда не оставляйте машину открытой, блокируйте замки в любых ситуациях.
				li Не храните ценные вещи и документы в бардачке или на сиденьях автомобиля.
				li Старайтесь оставлять автомобиль на ночь только в охраняемых паркингах.
				li Оборудуйте авто комплексной противоугонгой защитой (сигнализация, иммобилайзеры, охранный комплекс, обслуживаемый специалистами в сфере безопасности).
				li Не подвозите незнакомцев.
		.game__result-title.game__result-title--second Счастливого пути!
	.container.game__container
		.game__inner
			.game__top 
				.game__icon
					.game__icon-wrapper
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						<svg class="game__icon--house">
							<use xlink:href="img/sprite.svg#house"></use>
						</svg>
					span дом и домочадцы
				.game__slides-counter 
					span.game__slide-current 1
					span /
					span.game__slide-count 5
			.game__bottom 
				.game__icons 
					img(src="img/game-icons.svg", alt="")
				.game__lives
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart-fill.svg", alt="")
					img(src="img/heart.svg", alt="")
				.game__timer
					.game__timer-days 00
					span :
					.game__timer-hours 00
					span :
					.game__timer-minutes 03
					span :
					.game__timer-seconds 54