section.game.game-values(data-type="values")
	.game__slide.game__slide1.active-slide
		.game__slide-img 
			img(src="images/game-values/game-values-bg-1.gif", alt="")
		.game__slide-content 
			p.game__slide-title Этим летом ваша дача выглядит как дом со страниц журнала интерьеров. Но уже осенью вы рискуете остаться без полюбившихся элементов декора, мебели и техники. Как защитить вещи от дачных воришек?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question1" name="slide1" value="fail").game__form-input
					label(for="values-question1").game__form-label Зимовать мои вещи будут в городской квартире — и точка
					.game__form-question-error
						span Ошибка! 
						span Несколько радикальное решение. Уже через несколько месяцев оно поставит вас перед необходимостью заново вить летнее гнездышко.
				.game__form-question 
					input(type="radio" id="values-question2" name="slide1" value="fail").game__form-input
					label(for="values-question2").game__form-label Доплачу охране коттеджного поселка. Пусть следят за домом внимательнее
					.game__form-question-error
						span Ошибка! 
						span Деньги не гарантируют практически ничего. В игру вступает человеческий фактор: охранник может потерять бдительность или отвлечься.
				.game__form-question 
					input(type="radio" id="values-question3" name="slide1" value="correct").game__form-input
					label(for="values-question3").game__form-label Устрою круглосуточный прямой эфир из дачного дома и поставлю обычную сигнализацию
					.game__form-question-error
						span Верно!
						span Следите за своей собственностью так, как будто вы находитесь на даче, с помощью системы видеонаблюдение. Договор с охранной компанией окончательно избавит вас от беспокойства. <a href="https://www.delta.ru/ohrana-kottedjej/">Проконсультируйтесь со специалистами</a> и подберите оптимальный пакет услуг против взлома и вандализма. Возможно, в вашем случае понадобится комплексная система с защитой от проникновения и видеонаблюдением на участке по всему периметру.

	.game__slide.game__slide2
		.game__slide-img
			img(src="images/game-values/game-values-bg-2.gif", alt="")
		.game__slide-content 
			p.game__slide-title Одноклассники ребенка часто бывают в вашем доме, когда вы отсутствуете. В прошлый раз вы уже не досчитались пары недорогих, но горячо любимых украшений. Что делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question4" name="slide2" value="fail").game__form-input
					label(for="values-question4").game__form-label Запрещу приводить кого бы то ни было
					.game__form-question-error
						span Ошибка! 
						span Запреты никогда не работают. Психологи отмечают, что ультиматумы приводят к обратному результату: ребенок нарушает запреты с азартом и тайно.
				.game__form-question 
					input(type="radio" id="values-question5" name="slide2" value="fail").game__form-input
					label(for="values-question5").game__form-label Поговорю с ребенком, объясню, что его друзья не такие уж замечательные
					.game__form-question-error
						span Ошибка! 
						span В подростковом возрасте друзья ближе родителей. Ребенок задумается, насколько вы доверяете его выбору.
				.game__form-question 
					input(type="radio" id="values-question6" name="slide2" value="correct").game__form-input
					label(for="values-question6").game__form-label Установлю дома незаметную видеокамеру для ненавязчивого наблюдения за всей честной компанией. Звук отключу: знать, о чем они говорят, мне не нужно
					.game__form-question-error
						span Верно! 
						span Как бы ни хотелось подслушать ребячью болтовню, вмешательство в личную жизнь чада имеет свои разумные пределы. Что касается видеокамеры, рекомендуем остановиться на лаконичных моделях. Они выглядят как музыкальная колонка или устройство иного назначения, но только не как инструмент для слежки. Установите камеру в своей спальне и в любое время, не отрываясь от работы, проверяйте, не забрел ли в вашу святая святых кто-то из детворы. О возможностях видеонаблюдения последнего поколения можно узнать <a href="https://www.delta.ru/video/">здесь</a>.
	.game__slide.game__slide3
		.game__slide-img 
			img(src="images/game-values/game-values-bg-3.gif", alt="")
		.game__slide-content 
			p.game__slide-title Соседка взяла в привычку ходить к вам в гости. Скоро вы начинаете замечать, что она слишком поглощена вашим гардеробом, сияет глазами при виде вашей коллекции дизайнерских сумочек и ведет себя крайне странно. Как не обидеть соседку и при этом уберечь ценные вещи от потенциальной воровки?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question7" name="slide3" value="fail").game__form-input
					label(for="values-question7").game__form-label Нужно прекратить общение с этой коварной женщиной!
					.game__form-question-error
						span Ошибка! 
						span Тем больше у нее поводов осуществить задуманную кражу. Минимизировать общение стоит, однако без конфликтов и обид. Ведь может сучиться и такое, что ее странное поведение — не более чем ваша мнительность.
				.game__form-question 
					input(type="radio" id="values-question8" name="slide3" value="fail").game__form-input
					label(for="values-question8").game__form-label Начну жаловаться на нехватку денег, обычно срабатывает
					.game__form-question-error
						span Ошибка! 
						span Эта стратегия работает только с честными людьми, не планирующими ничего противозаконного. А носить вещи из секонд-хенда и отказываться от любимого кулона и дорогого сердцу колечка из белого золота вам скоро надоест.
				.game__form-question 
					input(type="radio" id="values-question9" name="slide3" value="correct").game__form-input
					label(for="values-question9").game__form-label Позабочусь о базовой охранной системе квартиры и продолжу добрые отношение с соседкой. Возможно, она замечательный, но несколько эмоциональный человек
					.game__form-question-error
						span Верно!
						span Не стоит портить дружбу из-за ничем не подтвержденных подозрений. Но игнорировать тревожный набат интуиции тоже не следует. Всё, что вам нужно, — это защита квартиры от проникновения и автоматическая передача сигнала в центр мониторинга <a href="https://www.delta.ru/ohrana-kvartir/">вашей охранной компании</a> в случае взлома. Под устройства подобных систем сейчас не обязательно штробить стены, уничтожая свежий ремонт. Элементы охранных комплексов работают автономно и выглядят стильно в любом интерьере.
	.game__slide.game__slide4
		.game__slide-img 
			img(src="images/game-values/game-values-bg-4.gif", alt="")
		.game__slide-content 
			p.game__slide-title Вам досталась в наследство невероятно дорогая семейная реликвия. Как о ней позаботиться?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question10" name="slide4" value="fail").game__form-input
					label(for="values-question10").game__form-label Спрячу в сейф, сейф встрою в стену, на стену повешу картину. Готово!
					.game__form-question-error
						span Ошибка! 
						span Глубина стен в большинстве типовых домов не позволяет встраивать сейфы без повреждения несущих конструкций. К тому же для медвежатников кодовые замки не составляют проблемы. О привычке прятать ценности в морозилку или обувь они тоже осведомлены.
				.game__form-question 
					input(type="radio" id="values-question11" name="slide4" value="fail").game__form-input
					label(for="values-question11").game__form-label Просто не скажу никому ни слова о наследстве
					.game__form-question-error
						span Ошибка! 
						span Преступники могут получить нужную им информацию у других членов семьи. Как бы ваша задумка не привела к катастрофе. Помните, что при ограблении квартиры грабители зачастую стремятся избавиться от лишних свидетелей.
				.game__form-question 
					input(type="radio" id="values-question12" name="slide4" value="correct").game__form-input
					label(for="values-question12").game__form-label Доверю хранение банку или охранной компании
					.game__form-question-error
						span Верно! 
						span Крупные банки оборудованы передовыми охранными комплексами, поэтому грабители предпочитают с ними не связываться. Надзор охранной компании обойдется примерно в ту же сумму, и заодно вы получите безопасность всего имущества, находящегося в вашей квартире или доме. Ознакомьтесь с опциями <a href="https://www.delta.ru/ohrana-kvartir/">охранных систем Delta</a> уже сейчас.
	.game__slide.game__slide5
		.game__slide-img 
			img(src="images/game-values/game-values-bg-5.gif", alt="")
		.game__slide-content 
			p.game__slide-title Мамочки с детской площадки, как известно, — самые ценные и надежные источники информации. Именно от них вы узнали об орудующей поблизости банде взломщиков и теперь не находите себе места от беспокойства. Обычно преступники забираются в квартиры, когда дома ни души, и выносят технику и драгоценности. Что делать?
			form(action="#").game__form 
				.game__form-question
					input(type="radio" id="values-question13" name="slide5" value="fail").game__form-input
					label(for="values-question13").game__form-label Мои соседи всегда дома. Попрошу их при появлении посторонних людей на лестничной клетке звонить в полицию
					.game__form-question-error
						span Ошибка! 
						span Поскольку дома у соседей всегда кто-то есть, их квартира грабителям не интересна. Следовательно, соседи лично не заинтересованы в сохранности чужого имущества. Согласитесь, вряд ли они готовы по сменам дежурить у дверного глазка ради вас.
				.game__form-question 
					input(type="radio" id="values-question14" name="slide5" value="fail").game__form-input
					label(for="values-question14").game__form-label Поставлю надежную дверь с десятком замков
					.game__form-question-error
						span Ошибка! 
						span Ни одна дверь не защитит от матерого взломщика. Как только появляются новые системы замков, преступники находят способ вскрыть их в кратчайшие сроки.
				.game__form-question 
					input(type="radio" id="values-question15" name="slide5" value="correct").game__form-input
					label(for="values-question15").game__form-label Позвоню в охранную компанию, там подскажут идеальный выход из ситуации
					.game__form-question-error
						span Верно! 
						span Сотрудники охранных компаний не только устанавливают системы сигнализации и реагируют на тревожные вызывы. В их задачи входит поиск пакета услуг для каждого отдельно взятого случая. Специалисты <a href="https://www.delta.ru/ohrana-kvartir/">охранных систем Delta</a> учтут ваши пожелания по стоимости монтажа и обслуживания охранной системы, подберут ее комплектацию и подарят вам спокойствие и уверенность в том, что вы защищены чем-то более надежным, чем бронированная дверь. В первую очередь — людьми, которым не всё равно.
	.game__result
		.game__result-title Памятка Delta и Woman.ru для защиты особенно ценных предметов и наличных средств
		.game__result-content 
			ol.game__result-list
				li Не распространяйтесь в своем окружении о принадлежащем вам дорогостоящем имуществе.
				li Храните ценные вещи и крупную наличность дома только в том случае, если у вас функционирует современная и комплексная охранная система, обслуживаемая сертифицированной охранной компанией.
				li Не переносите крупные суммы денег в одиночестве. Тем более — в дипломате, прикованном к запястью наручниками.
				li Увлекаясь коллекционированием ценных предметов (монет, холодного оружия, букинистики, антиквариата и т.д.), не сообщайте товарищам по увлечению своих контактов и личных данных.
				li Не делитесь планами о скорой покупке недвижимости или особо ценных предметов быта с людьми вне зависимости от того, как давно вы с ними знакомы.
		.game__result-title.game__result-title--second Берегите и преумножайте!
		button.game__result-btn(type="button" id="reinitTest") пройти тест еще раз

	.container.game__container
		.game__inner
			.game__top 
				.game__icon
					.game__icon-wrapper
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						.game__icon-corner
						<svg class="game__icon--house">
							<use xlink:href="img/sprite.svg#house"></use>
						</svg>
					span дом и домочадцы
				.game__slides-counter 
					span.game__slide-current 1
					span /
					span.game__slide-count 5
			.game__bottom 
				.game__icons 
					img(src="img/game-icons.svg", alt="")
				.game__lives
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
					.game__lives-heart
						img(src="img/heart.svg", alt="")
						svg.filled(width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M39.0322 7.37748C38.4116 5.9338 37.5167 4.62554 36.3977 3.52595C35.2778 2.42308 33.9574 1.54665 32.5084 0.94431C31.0058 0.31724 29.3941 -0.0037296 27.7671 3.26956e-05C25.4844 3.26956e-05 23.2573 0.628 21.3219 1.81416C20.8589 2.09791 20.419 2.40957 20.0023 2.74913C19.5856 2.40957 19.1457 2.09791 18.6827 1.81416C16.7473 0.628 14.5202 3.26956e-05 12.2375 3.26956e-05C10.5938 3.26956e-05 9.00103 0.316342 7.49623 0.94431C6.04236 1.54902 4.73202 2.41887 3.60689 3.52595C2.48638 4.6243 1.59128 5.93287 0.972334 7.37748C0.328741 8.87995 0 10.4755 0 12.1175C0 13.6665 0.314851 15.2806 0.939923 16.9226C1.46313 18.2948 2.21322 19.7182 3.17166 21.1556C4.69035 23.4302 6.77855 25.8025 9.37144 28.2074C13.6682 32.1938 17.9233 34.9476 18.1039 35.0592L19.2013 35.7663C19.6874 36.0779 20.3125 36.0779 20.7987 35.7663L21.896 35.0592C22.0766 34.9429 26.3271 32.1938 30.6285 28.2074C33.2214 25.8025 35.3096 23.4302 36.8283 21.1556C37.7867 19.7182 38.5415 18.2948 39.06 16.9226C39.6851 15.2806 40 13.6665 40 12.1175C40.0046 10.4755 39.6758 8.87995 39.0322 7.37748Z' fill='currentColor')
				.game__timer#timer 00:00:00:00