section.home-content
	.container.home-content__container
		.home-content__inner 
			.home-content__top 
				.home-content__left
					img(src="img/text-big.svg", alt="")
					//- h1.home-content__left-text Первая security-игра для женщин
				.home-content__right
					span А вы уверены в своей безопасности?
					p.home-content__right-text Женщины обеспокоены одновременно тысячей вещей. Безопасность детей и дома, своя собственная уязвимость — да что там, на взгляд супруги с чутким сердцем муж сильно рискует, просто выходя вечером вынести мусор. Хорошо, иногда мы правда перегибаем палку со своей удушающей заботой. Что мы делаем не так и, главное, как перевести заботу о семье на новый, комфортный для всех уровень? Узнайте, пройдя security-игру до победного конца.
					span Когда в опасности… 
					img(src="img/scale.svg", alt="").home-content__right-image
			.home-content__bottom 
				.home-content__icons 
					a.home-content__icons-item(href="/game-house.html" data-item="0")
						.home-content__icon-wrapper
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							<svg class="home-content__icon">
								<use xlink:href="img/sprite.svg#house"></use>
							</svg>
						span дом и домочадцы
					a.home-content__icons-item(href="/game-car.html" data-item="1")
						.home-content__icon-wrapper
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							<svg class="home-content__icon">
								<use xlink:href="img/sprite.svg#car"></use>
							</svg>
						span автомобиль
					a.home-content__icons-item(href="/game-values.html" data-item="2")
						.home-content__icon-wrapper
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							.home-content__icons-corner
							<svg class="home-content__icon">
								<use xlink:href="img/sprite.svg#pig"></use>
							</svg>
						span ценности