.overlay
	img(src="images/hero/hero-bg-1.jpg", alt="").active
section.promo 
	.container.promo__container 
		.promo__inner 
			img(src="img/scale.svg", alt="").promo__side-img.promo__side-img--first
			img(src="img/scale.svg", alt="").promo__side-img.promo__side-img--second
			.promo__top 
				.promo__left
					h1.promo__title Спасет и сохранит — Delta
					p Угрозы современного мира несут в себе смертельную опасность. Человек рискует каждый день, не задумываясь об этом. И всё же на каждое действие найдется противодействие.

					p Охранные системы XXI века всегда на шаг впереди беды. Эксперты в области безопасности просчитывают все риски для вашего дома, вашего автомобиля и особо ценного имущества, создавая совершенный охранный комплекс на все случаи жизни. При выборе охранных систем обращайте внимание на возможность кастомизировать набор оборудования и услуг под свои потребности. В частности, базовые опции идеальны для молодых семей, желающих минимизировать стрессы начинающейся взрослой жизни. Со временем появляется желание уберечь то, во что за годы и десятилетия вложено немало средств. Тогда потребуются более сложные системы безопасности, включающие технологии спутникового слежения, связь с круглосуточными центрами мониторинга и тревожные кнопки.
				.promo__right
					h2.promo__title Охранные системы Delta на защите:
					.promo__info 
						.promo__info-item
							.promo__icon-wrapper
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								<svg class="promo__icon">
									<use xlink:href="img/sprite.svg#house"></use>
								</svg>
							span Квартиры, частного дома или дачи — от проникновения, вандализма, пожара, утечки газа и подтопления.
						.promo__info-item
							.promo__icon-wrapper
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								<svg class="promo__icon">
									<use xlink:href="img/sprite.svg#car"></use>
								</svg>
							span Автомобиля — от угона и вандализма.
						.promo__info-item
							.promo__icon-wrapper
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								.promo__icon-corner
								<svg class="promo__icon">
									<use xlink:href="img/sprite.svg#pig"></use>
								</svg>
							span Спокойствия и благополучия вашей семьи.
			.promo__bottom 
				a(href="https://delta.ru" target="_blank").promo__link ОЗНАКОМЬТЕСЬ С ОПЦИЯМИ ОХРАННЫХ СИСТЕМ DELTA
 
