.footer {
	padding: 39px 0 32px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

	@media (max-height: 900px) {
		position: static;
	}

	@include media(tablet-993) {
		padding: 15px 0;
		position: static;
	}

	&__container {
		position: relative;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 24px;

		@include media(tablet-1440) {
			padding: 25px 19px;
		}

		@include media(mobile) {
			padding: 18px 14px;
		}

		@include media(400) {
			padding: 16px 15px;
		}
	}

	&__rec {
		display: flex;
		align-items: center;

		img {
			&:first-child {
				margin-right: 14px;

				opacity: 1;

				animation: rec 1.3s ease infinite;
			}
		}
		@include media(tablet-1200) {
			width: 100px;
		}

		@include media(mobile) {
			width: 51px;
		}
	}
	
	&__lives {
		display: none;
		align-items: center;
		justify-content: space-between;
		width: 142px;

		@include media(tablet-1440) {
			width: 130px;
		}

		@include media(tablet-993) {
			width: 105px;
		}

		img {
			width: 40px;

			@include media(tablet-1440) {
				width: 35px;
			}

			@include media(tablet-993) {
				width: 30px;
			}
		}
	}

	&__social {
		display: flex;
		align-items: center;

		a {
			width: 46px;
			height: 46px;	
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: #fff;
			transition: 0.3s;

			&:hover {
				@media (min-width: 992px) {
					background-color: $blue;
				}
			}


			&:not(:last-child) {
				margin-right: 12px;

				@include media(tablet-1200) {
					margin-right: 5px;
				}
			}

			&:first-child {
				@include media(tablet-1200) {
					img {
						height: 30%;
					}
				}
				@include media(mobile) {
					img {
						height: 30%;
					}
				}
			}
			&:last-child {
				@include media(tablet-1200) {
					img {
						height: 35%;
					}
				}
				@include media(mobile) {
					img {
						height: 35%;
					}
				}
			}

			@include media(tablet-1200) {
				width: 30px;
				height: 30px;

				img {
					height: 40%;
				}
			}

			@include media(mobile) {
				height: 20px;
				width: 20px;
			}
		}
	}

	&__text {
		width: 383px;
		margin-right: 306px;
		display: none;

		@include media(tablet-1440) {
			width: 250px;
			margin-right: 100px;
		}

		@include media(tablet-1200) {
			width: 210px;
			margin-right: 0;
		}

		&--mobile {
			width: 109px;
			height: 42px;
			display: none;
		}
	}

	&__frame {
		transform: rotate(270deg);
		bottom: 0px;
		width: 112px;
		height: 112px;

		@include media(tablet-1200) {
			width: 84px;
			height: 84px;
		}
		@include media(mobile) {
			width: 60px;
			height: 60px;
		}

		&--right {
			right: 0;
			transform: rotate(180deg);
		}
	}

	&__button {
		cursor: pointer;
		width: 23px;
		height: 18px;
		display: none;

		@include media(mobile) {
			display: block;
			margin-right: auto;
			margin-left: 20px;
		}
	}
}

@keyframes rec {

	0% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	
}