.game {
	background-color: $blue;
	height: 100%;

	&__container {
		height: 100%;
	}

	&__inner {
		padding-left: 20px;
		padding-top: 50px;
		padding-bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		position: relative;
		pointer-events: none;

		@include media(mobile) {
			height: 37%;
			width: 100%;
			padding-top: 21px;
			padding-bottom: 0;
			padding-left: 0;
		}

		@include media(400) {
			height: 30%;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 565px;

		@include media(1550) {
			max-width: 40%;
		}

		@include media(tablet-993) {
			max-width: 43%;
		}

		@include media(mobile) {
			max-width: 100%;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		max-width: 565px;

		@include media(1550) {
			max-width: 40%;
		}

		@include media(tablet-993) {
			max-width: 43%;
		}

		@include media(mobile) {
			max-width: 100%;
		}
	}

	&__icons {
		@include media(mobile) {
			display: none;
		}
	}

	&__lives {
		display: none;

		@include media(mobile) {
			display: flex;

			img {
				width: 25px;
				height: 24px;

				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		max-width: 298px;

		@include media(tablet-993) {
			max-width: 220px;
		}

		&-wrapper {
			position: relative;
			width: 89px;
			height: 82px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 10;
			margin-right: 30px;
			flex-shrink: 0;

			@include media(tablet-1440) {
				width: 66px;
				height: 62px;
			}

			@include media(tablet-993) {
				width: 44px;
				height: 41px;
				margin-right: 20px;
			}
		}

		&-corner {
			position: absolute;
			width: 23px;
			height: 23px;
			border: 5px solid #ffffff;
			pointer-events: none;

			@include media(tablet-1440) {
				width: 17px;
				height: 17px;
			}
			@include media(tablet-993) {
				width: 11px;
				height: 11px;
			}

			@include media(mobile) {
				border: 2px solid #ffffff;
			}

			&:nth-child(1) {
				top: 0;
				left: 0;
				border-right: none;
				border-bottom: none;
				border-top-left-radius: 2px;
			}
			&:nth-child(2) {
				top: 0;
				right: 0;
				border-left: none;
				border-bottom: none;
				border-top-right-radius: 2px;
			}
			&:nth-child(3) {
				bottom: 0;
				left: 0;
				border-top: none;
				border-right: none;
				border-bottom-left-radius: 2px;
			}
			&:nth-child(4) {
				bottom: 0;
				right: 0;
				border-top: none;
				border-left: none;
				border-bottom-right-radius: 2px;
			}
		}

		&--house {
			width: 50px;
			height: 45px;
			fill: #ffffff;

			@include media(tablet-1440) {
				width: 38px;
				height: 34px;
			}
			@include media(tablet-993) {
				width: 25px;
				height: 23px;
			}
		}

		span {
			font-weight: bold;
			font-size: 21px;
			line-height: 25px;
			text-transform: uppercase;
			color: #ffffff;

			@include media(tablet-993) {
				font-size: 16px;
				line-height: 20px;
			}

			@include media(mobile) {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
	&__slide {
		position: absolute;
		display: flex;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.4s;

		&.active {
			opacity: 1;
		}

		@include media(mobile) {
			flex-direction: column-reverse;
		}

		&-img {
			height: 100%;
			flex-shrink: 1;
			position: absolute;
			width: 46%;
			@include media(mobile) {
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 39%;
			}
			@include media(400) {
				height: 30%;
			}

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					270deg,
					#009fe3 0%,
					rgba(255, 255, 255, 0) 50%
				);
				background-blend-mode: normal, saturation, normal;

				@include media(mobile) {
					background: linear-gradient(
						0deg,
						#009fe3 9.36%,
						rgba(255, 255, 255, 0) 72.24%
					);
				}
			}
			img {
				height: 100%;
				object-fit: cover;

				width: 100%;
			}
		}
		&-content {
			padding-top: 63px;
			position: relative;
			z-index: 1;
			display: flex;
			width: 100%;
			flex-direction: column;
			overflow: auto;

			@include media(1550) {
				padding-right: 70px;
				max-width: 57%;
				margin-left: auto;
				margin-right: 0;
			}

			@include media(tablet-1440) {
				padding-top: 58px;
			}
			@include media(tablet-993) {
				padding-top: 50px;
				padding-right: 35px;
				max-width: 54%;
			}

			@include media(mobile) {
				max-width: 100%;
				padding: 0 30px;
				height: 59%;
			}

			@include media(550) {
				padding: 0 20px;
			}

			@include media(400) {
				height: 65%;
			}

			@media (max-height: 900px) {
				padding-bottom: 30px;
			}

			&::-webkit-scrollbar {
				width: 5px;
				border-radius: 1px;
			}

			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			&::-webkit-scrollbar-thumb {
				background-color: #fcfcfc;
				border-radius: 1px;
			}
		}
		&-title {
			font-weight: bold;
			font-size: 30px;
			line-height: 35px;
			letter-spacing: 0.03em;
			max-width: 830px;
			margin-left: 41%;
			margin-right: auto;

			@include media(1550) {
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
			}

			@include media(tablet-1440) {
				font-size: 24px;
				line-height: 27px;
			}

			@include media(tablet-1200) {
				font-size: 20px;
				line-height: 23px;
			}

			@include media(mobile) {
				font-size: 16px;
				line-height: 18px;
			}
		}
	}

	&__form {
		max-width: 830px;
		margin-top: 50px;
		margin-left: 41%;
		margin-right: auto;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.03em;
		color: #ffffff;

		@include media(1550) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		@include media(tablet-1440) {
			font-size: 20px;
			line-height: 24px;
		}

		@include media(tablet-1200) {
			font-size: 18px;
			line-height: 21px;
			margin-top: 40px;
		}

		@include media(mobile) {
			font-size: 14px;
			line-height: 16px;
			margin-top: 21px;
		}

		&-question {
			display: flex;
			flex-direction: column;

			&.invalid {
				div {
					display: block;
				}
			}

			&:not(:first-child) {
				margin-top: 36px;

				@include media(tablet-1440) {
					margin-top: 30px;
				}
				@include media(tablet-1200) {
					margin-top: 25px;
				}

				@include media(tablet-993) {
					margin-top: 20px;
				}
				@include media(mobile) {
					margin-top: 15px;
				}
			}

			&-error {
				font-size: 18px;
				line-height: 21px;
				letter-spacing: 0.03em;
				color: #000000;
				margin-left: 75px;
				margin-top: 7px;
				display: none;

				span {
					&:first-child {
						font-weight: bold;
					}
				}
			}
		}

		&-input {
			position: absolute;
			z-index: -1;
			opacity: 0;

			&:checked + label::after {
				background-image: url("../../img/check.svg");
				background-repeat: no-repeat;
				background-size: 60%;
				background-position: center;
			}
		}

		&-label {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			&::after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				content: "";
				width: 46px;
				height: 46px;
				flex-shrink: 0;
				flex-grow: 0;
				margin-right: 29px;

				@include media(tablet-1200) {
					width: 36px;
					height: 36px;
				}
				@include media(mobile) {
					width: 26px;
					height: 26px;
				}
			}

			&::before {
				content: "";
				width: 46px;
				height: 46px;
				flex-shrink: 0;
				flex-grow: 0;
				border-radius: 50%;
				margin-right: 29px;
				background-image: url("../../img/input.svg");
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;

				@include media(tablet-1200) {
					width: 36px;
					height: 36px;
					margin-right: 20px;
				}

				@include media(mobile) {
					width: 26px;
					height: 26px;
					margin-right: 14px;
				}
			}
		}
	}

	&__slides {
		&-counter {
			width: 100px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 36px;
			line-height: 100%;
			text-align: center;
			text-transform: uppercase;
			color: #009fe3;
			background-color: #fff;

			@include media(tablet-1440) {
				font-size: 32px;
				line-height: 35px;
				width: 80px;
				height: 40px;
			}

			@include media(tablet-1200) {
				font-size: 28px;
				line-height: 32px;
			}

			@include media(mobile) {
				font-size: 24px;
				line-height: 28px;
				width: 60px;
				height: 27px;
			}
		}
	}

	&__timer {
		display: flex;
		font-size: 36px;
		line-height: 44px;

		@include media(tablet-1440) {
			font-size: 32px;
			line-height: 35px;
		}
		@include media(tablet-1200) {
			font-size: 28px;
			line-height: 32px;
		}
		@include media(tablet-993) {
			font-size: 24px;
			line-height: 28px;
		}

		@include media(mobile) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__result {
		max-width: 1000px;
		margin: auto;
		height: 100%;
		padding: 44px 0;

		@include media(tablet-993) {
			max-width: calc(100% - 30px * 2);
		}

		&-title {
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			letter-spacing: 0.03em;
			font-weight: bold;
			color: #ffffff;

			&--second {
				margin-top: 44px;

				@include media(tablet-1200) {
					margin-top: 36px;
				}

				@include media(mobile) {
					margin-top: 31px;
				}
			}

			@include media(tablet-1200) {
				font-size: 28px;
				line-height: 32px;
			}

			@include media(mobile) {
				font-size: 24px;
				line-height: 28px;
			}
		}

		&-content {
			margin-top: 44px;
			border: 3px solid #ffffff;
			border-radius: 50px;
			padding: 35px 40px;

			@include media(tablet-1200) {
				margin-top: 36px;
			}

			@include media(mobile) {
				margin-top: 31px;
				padding: 28px 19px;
			}
		}

		&-list {
			padding-left: 23px;

			@include media(mobile) {
				padding-left: 20px;
			}

			li {
				font-style: italic;
				font-weight: normal;
				font-size: 22px;
				line-height: 26px;
				letter-spacing: 0.03em;
				color: #ffffff;

				&:not(:first-child) {
					margin-top: 25px;
				}

				@include media(tablet-1200) {
					font-size: 18px;
					line-height: 22px;

					&:not(:first-child) {
						margin-top: 18px;
					}
				}
				@include media(mobile) {
					font-size: 16px;
					line-height: 18px;
					font-style: normal;

					&:not(:first-child) {
						margin-top: 18px;
					}
				}
			}
		}
	}
}

.game {
	&__slide {
		display: none;
	}
	&__container {
		display: none;
	}
}
