input,
button,
textarea {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

* {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #ffffff;
	background: #ffffff;
	font-family: $mainFont;
	font-size: 18px;

	&.game-is-on {
		.header {
			background-color: #000000;
		}

		.footer {
			background-color: #000000;
			position: static;

			&__inner {
				padding: 0 24px;

				@include media(tablet-1440) {
					padding: 12px 19px;
				}

				@include media(mobile) {
					padding: 6px 14px;
				}

				@include media(400) {
					padding: 6px 5px;
				}
			}

			&__lives {
				display: flex;

				@include media(mobile) {
					display: none;
				}
			}

			&__text {
				display: block;

				@include media(mobile) {
					display: none;
				}

				&--mobile {
					display: none;

					@include media(mobile) {
						display: block;
					}

					@include media(350) {
						width: 50px;
						align-self: center;
						height: 22px;
					}
				}
			}

			&__button {
				@include media(mobile) {
					display: block;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
}

.main {
	flex-grow: 1;
}
html,
body {
	height: 100%;
	background-color: #000000;
}
.container {
	box-sizing: border-box;
	width: 1574px;
	max-width: 95%;
	max-width: calc(100% - 30px * 2);
	margin: 0 auto;
}

@media screen and (max-width: 550px) {
	.container {
		max-width: calc(100% - 20px * 2);
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;
	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

section {
	position: relative;
	z-index: 1;
}

.frame {
	position: absolute;
	opacity: 0.5;
	width: 114px;
	height: 114px;
	pointer-events: none;

	@include media(tablet-1200) {
		width: 87px;
		height: 87px;
	}

	@include media(mobile) {
		width: 60px;
		height: 60px;
	}
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		pointer-events: none;
		background: $overGadient;
	}

	img {
		position: absolute;
		transition: 0.3s;
		opacity: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;

		&.active {
			opacity: 1;
		}
	}
}
