.promo {
	&__container {
		position: relative;
	}
	&__inner {
		margin-top: 50px;

		@include media(1600) {
			margin-top: 40px;
		}

		@include media(tablet-993) {
			margin-top: 20px;
		}
	}
	&__side-img {
		position: absolute;

		&--first {
			top: -20px;
			left: -25px;
			transform: rotate(180deg);
			@include media(1600) {
				top: -10px;
			}

			@include media(tablet-993) {
				display: none;
			}
		}

		&--second {
			top: -20px;
			right: -25px;
			@include media(1600) {
				top: -10px;
			}

			@include media(tablet-993) {
				display: none;
			}
			
		}
	}

	&__top {
		display: flex;

		@include media(1600) {
			justify-content: center;
		}

		@include media(tablet-993) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		@include media(tablet-993) {
			padding: 0 45px;
		}

		@include media(mobile) {
			padding: 0 19px;
		}

		@include media(400) {
			padding: 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.03em;

		@include media(1600) {
			font-size: 32px;
			line-height: 37px;
			max-width: 440px;
		}

		@include media(tablet-1200) {
			font-size: 28px;
			line-height: 32px;
		}

		@include media(mobile) {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__left {
		max-width: 697px;
		margin-left: 66px;
		margin-right: 112px;

		@include media(1600) {
			margin-left: 50px;
			margin-right: 30px;
		}

		@include media(tablet-1440) {
			max-width: 550px;
		}

		@include media(tablet-1200) {
			max-width: 450px;
		}

		@include media(tablet-993) {
			max-width: 100%;
			margin-right: 0;
			margin-left: 0;
		}

		p {
			margin-top: 20px;

			@include media(tablet-993) {
				margin-top: 15px;
			}

			&:first-of-type {
				margin-top: 40px;
				
				@include media(tablet-993) {
					margin-top: 20px;
				}
			}
		}
	}

	&__right {

		@include media(tablet-993) {
			margin-top: 30px;
		}

		h2 {
			@include media(1024) {
				max-width: 400px;
			}

			@include media(tablet-993) {
				max-width: 100%;
			}
		}
	}

	&__info {

		@include media(tablet-1200) {
			max-width: 450px;
		}

		@include media(tablet-993) {
			max-width: 100%;
		}

		&-item {
			display: flex;
			margin-top: 40px;
			align-items: center;

			@include media(350) {
				flex-direction: column;
				align-items: flex-start;
			}

			svg {
				fill: #fff;
			}

			&:first-child {
				margin-top: 20px;

				@include media(350) {
					margin-top: 30px;
				}
			}

			&:nth-child(1) {
				svg {
					width: 58px;
					height: 52px;

					@include media(1600) {
						width: 49px;
						height: 44px;
					}

					@include media(tablet-993) {
						width: 40px;
						height: 35px;
					}
				}
			}

			&:nth-child(2) {
				svg {
					margin-top: 6px;
					width: 71px;
					height: 49px;

					@include media(1600) {
						width: 60px;
						height: 40px;
					}

					@include media(tablet-993) {
						width: 52px;
						height: 36px;
					}
				}
			}

			&:nth-child(3) {
				svg {
					width: 69px;
					height: 70px;

					@include media(1600) {
						width: 60px;
						height: 61px;
					}

					@include media(tablet-993) {
						width: 51px;
						height: 51px;
					}
				}
			}
			span {
				max-width: 385px;

				@include media(1600) {
					padding-right: 35px;
				}

				@include media(350) {
					margin-top: 15px;
					padding-right: 10px;
				}
			}
		}
	}

	&__icon {
		&-wrapper {
			width: 102px;
			height: 95px;
			flex-shrink: 0;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 42px;

			@include media(1600) {
				width: 85px;
				height: 82px;
				margin-right: 25px;
			}

			@include media(tablet-993) {
				width: 75px;
				height: 69px;
			}
		}

		&-corner {
			position: absolute;
			width: 26px;
			height: 26px;
			border: 5px solid #ffffff;
			pointer-events: none;
			transition: 0.1s;
			border-radius: 2px;

			@include media(1600) {
				width: 23px;
				height: 23px;
			}

			@include media(tablet-993) {
				width: 20px;
				height: 20px;
			}

			&:nth-child(1) {
				top: 0;
				left: 0;
				border-right: none;
				border-bottom: none;
			}
			&:nth-child(2) {
				top: 0;
				right: 0;
				border-left: none;
				border-bottom: none;
			}
			&:nth-child(3) {
				bottom: 0;
				left: 0;
				border-top: none;
				border-right: none;
			}
			&:nth-child(4) {
				bottom: 0;
				right: 0;
				border-top: none;
				border-left: none;
			}
		}
	}

	&__bottom {
		margin-top: 70px;

		@include media(1600) {
			margin-top: 40px;
		}

		@include media(tablet-993) {
			padding-bottom: 40px;
		}
	}

	&__link {
		text-transform: uppercase;
		font-family: $secondaryFont;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		display: block;
		color: #FFFFFF;
		background-color: $blue;
		padding: 16px 63px;
		margin: auto;
		max-width: 1060px;
		transition: 0.3s;

		@include media(tablet-1440) {
			font-size: 20px;
			line-height: 24px;
			padding: 14px 45px;
			max-width: 860px;
		}

		@include media(tablet-1200) {
			font-size: 18px;
			line-height: 21px;
			padding: 12px 25px;
			letter-spacing: 0.02em;
			max-width: 730px;
		}
		@include media(mobile) {
			font-size: 16px;
			line-height: 20px;
			padding: 12px 14px;
			letter-spacing: 0.02em;
			max-width: 730px;
		}
		@include media(350) {
			font-size: 13px;
			line-height: 18px;
			padding: 8px 8px;
			letter-spacing: 0;
			max-width: 730px;
		}

		&:hover {
			@media (min-width: 992px) {
				background-color: #ffffff;
				color: #000000;
			}
		}
	}
}